body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("back1.avif");
}
.filter-section{
  border-bottom: 2px solid rgb(112, 107, 107);
  border-top: 2px solid rgb(112, 107, 107);
  height: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  flex-direction: column;
}
.filter-section select{
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  padding: 20px;
}

.stock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.stock-section {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 45%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 30px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #f8eded;
  border: 1px solid #434343;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.product-card h3 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  margin-top: 10px;
}

.product-card p {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.product-card .actions {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.actions button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  height: 30px;
  width: auto;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  font-size: 20px;
}

.quantity-control button {
  padding: 5px 10px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

.add-product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-sizing: border-box;
  gap: 10px;
}

.button_1 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.add-product input[type="text"],
.add-product input[type="number"] {
  flex: 1 1 auto;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
  border: 1px solid rgb(83, 80, 80);
  height: 20px;
  border-radius: 5px;
  font-weight: 450;
}
.navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
}

.navbar ul {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px 0 300px;
  margin: 0 ;
  list-style-type: none;
}

.navbar ul li {
  margin: 0 50px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.scroll-to-bottom {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: auto;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  display: block; /* Initially hidden */
  animation: pulse 1.5s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.scroll-to-bottom:hover {
  background-color: #0056b3;
  animation-play-state: paused;
}

@media only screen and (max-width: 768px){
  nav{
    width: 91% !important;
  }
  .stock-container{
    width: 90%;
  }
  .stock-section{
    width: 100%;
  }
  #add-plywood-name ,
  #add-plywood-size , 
  #add-plywood-thickness,
  #add-door-name ,
  #add-door-size ,
  #add-door-thickness{
    height: 40px;
    border-radius: 10px;
    background-color: white;
  }
  .navbar ul{
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .filter-section{
    border-bottom: 1px solid rgb(112, 107, 107);
    border-top: 1px solid rgb(112, 107, 107);
    height: auto;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
  }
  .filter-section select{
    border-radius: 10px;
    padding: 10px;
  }
  h2{
    margin: 10px;
    padding: 0;
  }
  .scroll-to-bottom {
    position: sticky;
    top: 60px;
    right: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-wrap: wrap;
    width: auto;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: block;
  }
  
}